<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nanking.knightingal.dao.Local1000Dao">
    <select id="queryFlow1000SectionById" parameterType="int" resultType="org.nanking.knightingal.bean.Flow1000Section">
        select
            id as id,
            name as name,
            dir_name as dirName,
            create_time as createTime,
            cover as cover,
            album as album
        from flow1000section
            where id = #{id}
    </select>

    <select id="queryFlow1000ImgBySectionId" parameterType="int" resultType="org.nanking.knightingal.bean.Flow1000Img">
        select
            id as id,
            name as name,
            section_id as sectionId,
            in_cover as inCover,
            width as width,
            height as height
        from flow1000img
            where section_id = #{sectionId}
    </select>

    <select id="queryFlow1000SectionByCreateTime" parameterType="String" resultType="org.nanking.knightingal.bean.Flow1000Section">
        select
            id as id,
            name as name,
            dir_name as dirName,
            create_time as createTime,
            cover as cover,
            album as album
        from flow1000section
            where create_time > #{createTime}
    </select>

    <insert id="insertFlow1000Section" parameterType="org.nanking.knightingal.bean.Flow1000Section"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into flow1000section(name, dir_name, create_time, cover, album)
        values (#{name}, #{dirName}, #{createTime}, #{cover}, #{album})
    </insert>

    <insert id="insertFlow1000Img" parameterType="org.nanking.knightingal.bean.Flow1000Img"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into flow1000img(name, section_id, in_cover) values
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.sectionId}, #{item.inCover})
        </foreach>
    </insert>

    <update id="updateFlow1000Img" parameterType="org.nanking.knightingal.bean.Flow1000Img">
        update flow1000img set
        width = #{width},
        height = #{height}
        where id = #{id}
    </update>

    <delete id="deleteFlow1000SectionById" parameterType="int">
        delete
        from flow1000section
        where id = #{id}
    </delete>

    <delete id="deleteFlow1000ImgBySectionId" parameterType="int">
        delete
        from flow1000img
        where section_id = #{sectionId}
    </delete>
</mapper>
