<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nanking.knightingal.dao.Local1000Dao">
    <select id="queryFlow1000SectionById" parameterType="int" resultType="org.nanking.knightingal.bean.Flow1000Section">
        select
            id as id,
            name as name,
            dir_name as dirName,
            create_time as createTime,
            cover as cover,
            album as album
        from flow1000section
            where id = #{id}
    </select>
</mapper>
